<header>
  <div class="logodiv">
  </div>
  <ul>
    <li><%= link_to 'My lists', lists_path %></li>
    <li><%= link_to 'New List', new_list_path %></li>
  </ul>
</header>


<h2>Create your list</h2>

<%= render "form", list: @list %>
