// Import page-specific CSS files here.
@import "home";

body {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  height: 100vh;
}

.mybtn {
  background-color: #D22B2B;
  padding: 10px 20px;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.mybtn:hover {
  background-color: #a42020;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem {
  background-image: url(stranger.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.imagem:hover {
  transform: scale(1.2);
}

.container {
  margin-top: 10rem;
}

.container h2 {
  color: #fff;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 40px;
  z-index: 999;
}

header .logodiv {
  display: flex;
  align-items: center;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin:  0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
  font-size: 18px;
}

// change this part to another page
.list-group {
  border-radius: 25px;
}
