.imagem {
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
}

.imagem:hover {
  transform: scale(1.2);
}

.imageposter {
  width: 200px;
  border-radius: 10px;
}
