  <header>
    <div class="logodiv">
    </div>
    <ul>
      <li><%= link_to 'My lists', lists_path %></li>
      <li><button type="button" class="btn btn-link text-decoration-none body-font" data-bs-toggle="modal" data-bs-target="#exampleModal">New List</button></li>
    </ul>
  </header>
